
<div class="main scroll-cont">
  <div class="grid-container">
    <div class="grid-item grid-item-card">
      <div class="grid-item card">
        <div class="card-header" id="allbooking">
          <h4>All Booking</h4>
        </div>
        <div class="card-detail-child">




          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p><i class="fa-solid fa-phone"></i> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Tour</button></div>
            <div><p>₹ 2000</p></div>
            <div ><i class="fa-solid fa-angle-down"></i></div>
            <button type="button" class="collapsible">Open</button>
          </div>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>




        </div>
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p><i class="fa-solid fa-phone"></i> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Tour</button></div>
            <div><p>₹ 2000</p></div>
            <div><i class="fa-solid fa-angle-down"></i></div>
          </div>
        </div>
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p><i class="fa-solid fa-phone"></i> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Tour</button></div>
            <div><p>₹ 2000</p></div>
            <div><i class="fa-solid fa-angle-down"></i></div>
          </div>
        </div>
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p><i class="fa-solid fa-phone"></i> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Tour</button></div>
            <div><p>₹ 2000</p></div>
            <div><i class="fa-solid fa-angle-down"></i></div>
          </div>
        </div>
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p><i class="fa-solid fa-phone"></i> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Tour</button></div>
            <div><p>₹ 2000</p></div>
            <div><i class="fa-solid fa-angle-down"></i></div>
          </div>
        </div>
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p><i class="fa-solid fa-phone"></i> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Tour</button></div>
            <div><p>₹ 2000</p></div>
            <div><i class="fa-solid fa-angle-down"></i></div>
          </div>
        </div>
      </div>
      <div class="grid-item card">
        <div class="card-header" id="assigned">
          <h4>Assigned</h4>
        </div>
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p><i class="fa-solid fa-phone"></i> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Tour</button></div>
            <div><p>₹ 2000</p></div>
            <div><i class="fa-solid fa-angle-down"></i></div>
          </div>
        </div>
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p><i class="fa-solid fa-phone"></i> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Tour</button></div>
            <div><p>₹ 2000</p></div>
            <div><i class="fa-solid fa-angle-down"></i></div>
          </div>
        </div>
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p><i class="fa-solid fa-phone"></i> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Tour</button></div>
            <div><p>₹ 2000</p></div>
            <div><i class="fa-solid fa-angle-down"></i></div>
          </div>
        </div>
      </div>
      <div class="grid-item card">
        <div class="card-header" id="completed">
          <h4>Completed</h4>
        </div>
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p><i class="fa-solid fa-phone"></i> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Tour</button></div>
            <div><p>₹ 2000</p></div>
            <div><i class="fa-solid fa-angle-down"></i></div>
          </div>
        </div>
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p><i class="fa-solid fa-phone"></i> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Tour</button></div>
            <div><p>₹ 2000</p></div>
            <div><i class="fa-solid fa-angle-down"></i></div>
          </div>
        </div>
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p><i class="fa-solid fa-phone"></i> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Tour</button></div>
            <div><p>₹ 2000</p></div>
            <div><i class="fa-solid fa-angle-down"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-cancel">
    <div class="card-cancel" id="cancelled">
      <h4>Cancelled</h4>
    </div>
    <!-- <div class="container">
        <div class="card-container">
          <div class="carddetaild">

            <div class="card-detail-child">
              <div class="card-detail-sec">
                <div class="card-detail-img"></div>
                <div class="card-detail-name">
                  <p><i class="fa-solid fa-phone"></i> Rakesh Kumar</p>
                  <h6>#ITC25</h6>
                </div>
              </div>
              <div class="card-detail-sec buttons">
               <div><button>Tour</button></div>
               <div><p>₹ 2000</p>         </div>
               <div><i class="fa-solid fa-angle-down"></i></div>
              </div>
            </div>

          </div>
          <div class="carddetaild">2</div>
          <div class="carddetaild">3</div>
        </div>
        <div class="card-container">
          <div class="carddetaild">4</div>
          <div class="carddetaild">5</div>
          <div class="carddetaild">6</div>
        </div>
      </div> -->
    <div class="grid-container-cancel">
      <div class="grid-item-cancel">
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Ride</button></div>
            <div><i class="fa-solid fa-phone"></i></div>
          </div>
        </div>
        <div class="location">
          <p>Start Time: 21 Jan 2024</p>
          <p><i class="ri-map-pin-line"></i> 4140 Parker Rd. Allentown, New Mexico 31134</p>
          <p><i class="ri-map-pin-line"></i> 2464 Royal Ln. Mesa, New Jersy 45463</p>
        </div>
        <div class="driver-guide">
          <p>Guide : Yadav Rahil</p>
          <p>Driver : Jani Raviraj</p>
        </div>
      </div>
      <div class="grid-item-cancel">
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Ride</button></div>
            <div><i class="fa-solid fa-phone"></i></div>
          </div>
        </div>
        <div class="location">
          <p>Start Time: 21 Jan 2024</p>
          <p><i class="ri-map-pin-line"></i> 4140 Parker Rd. Allentown, New Mexico 31134</p>
          <p><i class="ri-map-pin-line"></i> 2464 Royal Ln. Mesa, New Jersy 45463</p>
        </div>
        <div class="driver-guide">
          <p>Guide : Yadav Rahil</p>
          <p>Driver : Jani Raviraj</p>
        </div>
      </div>
      <div class="grid-item-cancel">
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Ride</button></div>
            <div><i class="fa-solid fa-phone"></i></div>
          </div>
        </div>
        <div class="location">
          <p>Start Time: 21 Jan 2024</p>
          <p><i class="ri-map-pin-line"></i> 4140 Parker Rd. Allentown, New Mexico 31134</p>
          <p><i class="ri-map-pin-line"></i> 2464 Royal Ln. Mesa, New Jersy 45463</p>
        </div>
        <div class="driver-guide">
          <p>Guide : Yadav Rahil</p>
          <p>Driver : Jani Raviraj</p>
        </div>
      </div>
      <div class="grid-item-cancel">
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Ride</button></div>
            <div><i class="fa-solid fa-phone"></i></div>
          </div>
        </div>
        <div class="location">
          <p>Start Time: 21 Jan 2024</p>
          <p><i class="ri-map-pin-line"></i> 4140 Parker Rd. Allentown, New Mexico 31134</p>
          <p><i class="ri-map-pin-line"></i> 2464 Royal Ln. Mesa, New Jersy 45463</p>
        </div>
        <div class="driver-guide">
          <p>Guide : Yadav Rahil</p>
          <p>Driver : Jani Raviraj</p>
        </div>
      </div>
      <div class="grid-item-cancel">
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Ride</button></div>
            <div><i class="fa-solid fa-phone"></i></div>
          </div>
        </div>
        <div class="location">
          <p>Start Time: 21 Jan 2024</p>
          <p><i class="ri-map-pin-line"></i> 4140 Parker Rd. Allentown, New Mexico 31134</p>
          <p><i class="ri-map-pin-line"></i> 2464 Royal Ln. Mesa, New Jersy 45463</p>
        </div>
        <div class="driver-guide">
          <p>Guide : Yadav Rahil</p>
          <p>Driver : Jani Raviraj</p>
        </div>
      </div>
      <div class="grid-item-cancel">
        <div class="card-detail-child">
          <div class="card-detail-sec">
            <div class="card-detail-img"></div>
            <div class="card-detail-name">
              <p> Rakesh Kumar</p>
              <h6>#ITC25</h6>
            </div>
          </div>
          <div class="card-detail-sec buttons">
            <div><button>Ride</button></div>
            <div><i class="fa-solid fa-phone"></i></div>
          </div>
        </div>
        <div class="location">
          <p>Start Time: 21 Jan 2024</p>
          <p><i class="ri-map-pin-line"></i> 4140 Parker Rd. Allentown, New Mexico 31134</p>
          <p><i class="ri-map-pin-line"></i> 2464 Royal Ln. Mesa, New Jersy 45463</p>
        </div>
        <div class="driver-guide">
          <p>Guide : Yadav Rahil</p>
          <p>Driver : Jani Raviraj</p>
        </div>
      </div>
    </div>
  </div>
</div>
