<div class="main scroll-cont">
  <div class="grid-container">
    <!-- implementing drag and drop -->
    <div cdkDropListGroup class="card-container">
      <div class="example-container">
        <h4 id="allbooking">All Booking</h4>
        <div
          cdkDropList
          [cdkDropListData]="newBookings"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="draggableBooking"
            *ngFor="let item of newBookings; let i = index"
            cdkDrag
          >
          <div class="heading">
            <img [src]="item.user.photoURL" alt="" cdkDragHandle />
            <div class="detail">
              <p><mat-icon>call</mat-icon><span>{{item.user.displayName}}</span></p>
              <p>#{{item.id.slice(0,4)}}</p>
            </div>
            <div class="badge">{{item.type | titlecase}}</div>
            <p class="price">{{ item.grandTotal| currency : "INR" }}</p>
            <button
              mat-icon-button
              color="primary"
              (click)="item.expanded = !item.expanded"
            >
              <mat-icon *ngIf="!item.expanded">expand_more</mat-icon>
              <mat-icon *ngIf="item.expanded">expand_less</mat-icon>
            </button>
          </div>
          <div class="body" *ngIf="item.expanded">
            <div class="startEnd">
              <img src="assets/startEnd.png" />
              <span>
                <p>Start: {{item.pickupLocation?.name}}</p>
                <p>End: {{item.dropLocation?.name}}</p>
              </span>
            </div>
            <div class="actions">
              <button mat-stroked-button color="warn">Cancel</button>
              <button mat-flat-button color="primary">Accept</button>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="example-container">
        <h4 id="assigned">Assigned</h4>
        <div
          cdkDropList
          [cdkDropListData]="assignedBookings"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="draggableBooking"
            *ngFor="let item of assignedBookings; let i = index"
            cdkDrag
          >
          <div class="heading">
            <img [src]="item.user.photoURL" alt="" cdkDragHandle />
            <div class="detail">
              <p><mat-icon>call</mat-icon><span>{{item.user.displayName}}</span></p>
              <p>#{{item.id.slice(0,4)}}</p>
            </div>
            <div class="badge">{{item.type | titlecase}}</div>
            <p class="price">{{ item.grandTotal| currency : "INR" }}</p>
            <button
              mat-icon-button
              color="primary"
              (click)="item.expanded = !item.expanded"
            >
              <mat-icon *ngIf="!item.expanded">expand_more</mat-icon>
              <mat-icon *ngIf="item.expanded">expand_less</mat-icon>
            </button>
          </div>
          <div class="body" *ngIf="item.expanded">
            <div class="startEnd">
              <img src="assets/startEnd.png" />
              <span>
                <p>Start: {{item.pickupLocation?.name}}</p>
                <p>End: {{item.dropLocation?.name}}</p>
              </span>
            </div>
            <div class="actions">
              <button mat-stroked-button color="warn">Cancel</button>
              <button mat-flat-button color="primary">Accept</button>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="example-container">
        <h4 id="completed">Completed</h4>
        <div
          cdkDropList
          [cdkDropListData]="completedBookings"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="draggableBooking"
            *ngFor="let item of completedBookings; let i = index"
            cdkDrag
          >
          <div class="heading">
            <img [src]="item.user.photoURL" alt="" cdkDragHandle />
            <div class="detail">
              <p><mat-icon>call</mat-icon><span>{{item.user.displayName}}</span></p>
              <p>#{{item.id.slice(0,4)}}</p>
            </div>
            <div class="badge">{{item.type | titlecase}}</div>
            <p class="price">{{ item.grandTotal| currency : "INR" }}</p>
            <button
              mat-icon-button
              color="primary"
              (click)="item.expanded = !item.expanded"
            >
              <mat-icon *ngIf="!item.expanded">expand_more</mat-icon>
              <mat-icon *ngIf="item.expanded">expand_less</mat-icon>
            </button>
          </div>
          <div class="body" *ngIf="item.expanded">
            <div class="startEnd">
              <img src="assets/startEnd.png" />
              <span>
                <p>Start: {{item.pickupLocation?.name}}</p>
                <p>End: {{item.dropLocation?.name}}</p>
              </span>
            </div>
            <div class="actions">
              <button mat-stroked-button color="warn">Cancel</button>
              <button mat-flat-button color="primary">Accept</button>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- implementing drag and drop -->
  </div>
  <div class="grid-cancel">
    <div class="card-cancel" id="cancelled">
      <h4>Cancelled</h4>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="cancelledBookings"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="draggableBooking"
        *ngFor="let item of cancelledBookings; let i = index"
        cdkDrag
      >
        <div class="heading">
          <img src="https://i.pravatar.cc/300" alt="" cdkDragHandle />
          <div class="detail">
            <p><mat-icon>call</mat-icon><span>Manoj Rawat</span></p>
            <p>#ITC125</p>
          </div>
          <div class="badge">Tour</div>
          <p class="price">{{ 12000 | currency : "INR" }}</p>
          <button
            mat-icon-button
            color="primary"
            (click)="item.expanded = !item.expanded"
          >
            <mat-icon *ngIf="!item.expanded">expand_more</mat-icon>
            <mat-icon *ngIf="item.expanded">expand_less</mat-icon>
          </button>
        </div>
        <div class="body" *ngIf="item.expanded">
          <div class="startEnd">
            <img src="assets/startEnd.png" />
            <span>
              <p>Start Time: 12 Jan 2023</p>
              <p>Start Time: 21 Jan 2023</p>
            </span>
          </div>
          <span class="guideDriver">
            <p>Guide: <strong>Yadav Rahil</strong></p>
            <p>Driver: <strong>Hani Raviraj</strong></p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
