<div class="dailog">
    <div class="dailog-header">
  
      <div class="title">
        <h1>Record Settelement</h1>
      </div>
  
      <div class="recipient">
        <p>Recipient Name: Rame Charam Das</p>
      </div>
      <div class="settle-unsettle">
          <div class="settle">
              <p>Settle Amount: 225</p>
          </div>
          <div class="unsettle">
              <p>Unsettle Amount: 125</p>
          </div>
      </div>
    </div>
  
    <form [formGroup]="settlementForm" (ngSubmit)="settlementUser()">
      <div class="dailog-content">
  
        <div class="amount">
          <div class="amount-label">
            <h3>Enter Amount:</h3>
          </div>
          <input type="text" formControlName="amount" />
        </div>
  
      </div>
  
      <div mat-dialog-actions class="action-btn">
        
        <div class="cancel-btn">
          <button mat-button (click)="onNoClick()">Cancel</button>
        </div>
        
        <div class="save-btn">
          <button mat-button cdkFocusInitial (click)="onNoClick()">
            Save
          </button>
        </div>
      
      </div>
    </form>
  </div>
  