<div class="dialog-container">
  <div class="heading">
    <h2>Add Vehicle Category</h2>
    <div mat-dialog-close><i class="ri-close-circle-line"></i></div>
  </div>

  <div class="addpackageform">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- <i class="ri-image-line"></i> -->
      <input  class="image-category" (change)="setImage($event)" type="file" name="image" id="image" >
      <label for="hour"></label><br>
      <input class="fullinput" type="text" id="hour" formControlName="vehicleCategory"  placeholder="Vehicle Category"><br>
      <label for="km"></label><br>
      <input  class="fullinput" type="text" id="km" formControlName="description" placeholder="Discription"><br><br>

      <div class="smallinput">
        <label for="SUV">Seats</label>
        <input class="midinput" type="text" id="SUV" formControlName="seats" value="8">
        <label for="Sedan">Luggage Space</label>
        <input class="midinput" type="text" id="Sedan" formControlName="capacity" value="13Ltr.">
        <label for="Traveller">AC/Non AC</label>
        <select class="midinput" name="ac-nonac" id="ac-nonac" formControlName="acNonac">
          <option value="ac">AC</option>
          <option value="nonac">Non AC</option>
        </select>
      </div>
      <div class="bottominput" >
      <label for="fullprice"></label><br>
      <input style="width: 47%;margin-right: 5px;" class="fullinput" type="text" id="fullprice" formControlName="fullPrice"  placeholder="Full Price">
      <label for="priceperhour"></label><br>
      <input  style="width: 47%;" class="fullinput" type="text" id="priceperhour" formControlName="pricePerHour" placeholder="Price Per Hour"><br><br>
      </div>
      <div class="btns">
        <button mat-stroked-button color="warn" (click)="onCancel()" type="button">Cancel</button>
        <button mat-flat-button color="primary">Add Vehicle</button>
      </div>
    </form>
  </div>
</div>
