<div class="dialog-container">
  <div class="heading">
    <h2>Assign Guide</h2>
    <div mat-dialog-close><i class="ri-close-circle-line"></i></div>
  </div>
  <p>Booking Id: #ITC4520</p>
  <div class="search-bar">
    <input type="text" placeholder="Search...">
    <i class="ri-search-line icon"></i>
  </div>
  <div class="btns">
    <button mat-dialog-close (click)="onCancel()" class="outline-btn-red">Cancel</button>
    <button mat-dialog-close  (click)="onAssign()" class="solid-darkblue-button">Assign</button>
  </div>
</div>
