<div class="dialog-container">
  <div class="heading">
    <h2>Assign Guide</h2>
    <div mat-dialog-close><i class="ri-close-circle-line"></i></div>
  </div>
  <p>Booking Id: #ITC4520</p>
  <form class="example-form">
    <mat-form-field class="example-full-width w-100" appearance="fill">
      <mat-label>Select guide</mat-label>
      <input type="text"
             placeholder="Search..."
             aria-label="Search..."
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let guide of guides" [value]="guide" >
          {{guide.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <form action="">
    <mat-form-field class="example-full-width w-100" appearance="fill">
      <mat-label>Select Driver</mat-label>
      <input type="text"
             placeholder="Search..."
             aria-label="Search..."
             matInput
             [formControl]="myControl2"
             [matAutocomplete]="autoO">
      <mat-autocomplete #autoO="matAutocomplete">
        <mat-option *ngFor="let driver of drivers" [value]="driver" >
          {{driver.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  
  
  <div class="btns">
    <button mat-dialog-close (click)="onCancel()" class="outline-btn-red">Cancel</button>
    <button mat-dialog-close  (click)="onAssign()" class="solid-darkblue-button">Assign</button>
  </div>
</div>
