<div class="dialog-container">
  <div class="dialog-header">
    <h2>Booking Details of Thar Desert Tour</h2>
    <hr>
  </div>
  <div class="customer-div">
    <h3>Customer Details</h3>
    <div class="customer">
      <div class="customer-img cst-dtl">
        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
      </div>
      <div class="cst-dtl">
        <h4>Name: Arun Arora</h4>
        <h4>Example@gmail.com</h4>
      </div>
      <div class="cst-dtl">
        <h4>Phone: 9995566633</h4>
        <h4>Alternative Phone: 9995566633</h4>
      </div>
      <div class="cst-dtl icon">
        <i class="ri-phone-fill"></i>
        <!-- <i class="ri-arrow-drop-down-line"></i> -->
        <i class="fa-solid fa-caret-down"></i>
      </div>

    </div>
  </div>
  <hr>
  <div class="booking-details-div">


    <div class="booking-details">
      <h3>Booking Details</h3>
      <p>Tour Date: 12April, 12:00 PM</p>  <P>Destination: Jaipur, Rajasthan</P>
      No. of People: 05 <p>Duration: 3D-2N</p>
      <p>Special Request : I have limited mobility and would need assistance getting on and off the tour bus</p>
      <h3>Pickup</h3>
      <p>Robert Robertson, 1234 NW</p>
    </div>

    <div class="billing-summary"></div>

  </div>
</div>
