<div class="blog-header">
  <h2>Banner Management</h2>
  <button (click)="addNewBanner()"  class="btn"><i class="fa-solid fa-plus"></i>Add New Banner</button>
</div>

<div class="grid-container">
  <div class="grid-item" *ngFor="let banner of banners">

    <div class="card-container">
      <img [src]="banner.bannerImage" alt="">
      <div class="card-top">
        <h4>Title: <span>{{ banner.title }}</span></h4>
        <div class="card-footer-btns">
          <div (click)="editBanner()" ><i class="fa-sharp fa-solid fa-pen-to-square edit"></i></div>
          <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
          <div (click)="onDelete()"><i class="fa-solid fa-trash-can trash"></i></div>
        </div>
      </div>
      <h4>Banner URL: <span>{{ banner.bannerUrl }}</span> </h4>
      <div class="card-top">
        <h4>Start: <span>{{ banner.startDate ? (banner.startDate?.toDate() | date) : '' }}</span></h4>
        <h4>End: <span>{{ banner.endDate ? (banner.endDate?.toDate() | date ) : ''}}</span></h4>
      </div>

  </div>
</div>

</div>

