<div class="grid-container">
  <div class="grid-item grid-item-one">
    <div class="grid-item">
      <div class="grid-item grid-item-graph">
        
        <div class="chart-container">
          <div class="label-container">
              
          </div>
          <canvas   id="MyChart" >{{ chart }}</canvas>
      </div>

      </div>
    </div>
    <div class="grid-item grid-container">
      <div class="grid-item grid-item-details">
        <div class="grid-item-img"><i class="fa-solid fa-calendar-days"></i></div>
        <div class="grid-item-cont">
          <h3>2,450</h3>
          <h4>Total No. of Booking</h4>
        </div>
      </div>
      <div class="grid-item grid-item-details">
        <div class="grid-item-img"><i class="fa-solid fa-money-bill-trend-up"></i></div>
        <div class="grid-item-cont">
          <h3>₹ 22,03,450</h3>
          <h4>Total Income</h4>
        </div>
      </div>
      <div class="grid-item grid-item-details">
        <div class="grid-item-img"><i class="fa-solid fa-user-large"></i></div>
        <div class="grid-item-cont">
          <h3>₹ 2,245</h3>
          <h4>Platform Commission</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="grid-item"> -->
    <div class="grid-table">
      <table>
        <tr>
          <th>Booking ID</th>
          <th>Customer Name</th>
          <th>Service</th>
          <th>Tour Name</th>
          <th>Start Time</th>
          <th>Trip End</th>
          <th>Start Location</th>
          <th>Destination</th>
          <th>Trip Fair</th>
          <th>Service</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td class="left-td"><button class="red-button">Rental</button></td>
          <td> -</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">Main street, <br />New Delhi</td>
          <td>-</td>
          <td>SUV</td>
          <td><button class="green-button">₹1502</button></td>
          <td>
            <button class="scs-btn"><i class="fa-solid fa-check"></i></button>
            <button class="can-btn"><i class="fa-solid fa-xmark"></i></button>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td class="left-td"><button class="blue-button">Guide</button></td>
          <td> -</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">Main street, <br />New Delhi</td>
          <td>-</td>
          <td>SUV</td>
          <td><button class="green-button">₹1502</button></td>
          <td>
            <button class="scs-btn"><i class="fa-solid fa-check"></i></button>
            <button class="can-btn"><i class="fa-solid fa-xmark"></i></button>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td class="left-td"><button class="skyblue-button">Tour</button></td>
          <td>Thar Desert</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">Main street, <br />New Delhi</td>
          <td><button class="skyblue-button">Delhi</button> </td>
          <td>SUV</td>
          <td><button class="green-button">₹1502</button></td>
          <td>
            <button class="scs-btn"><i class="fa-solid fa-check"></i></button>
            <button class="can-btn"><i class="fa-solid fa-xmark"></i></button>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td class="left-td"><button class="darkblue-button">Ride</button></td>
          <td> -</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">Main street, <br />New Delhi</td>
          <td> <button class="orange-button">Rampur</button></td>
          <td>SUV</td>
          <td><button class="green-button">₹1502</button></td>
          <td>
            <button class="scs-btn"><i class="fa-solid fa-check"></i></button>
            <button class="can-btn"><i class="fa-solid fa-xmark"></i></button>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td class="left-td"><button class="green-button">Outstation</button></td>
          <td> -</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">Main street, <br />New Delhi</td>
          <td> <button class="orange-button">Rampur</button></td>
          <td>SUV</td>
          <td><button class="green-button">₹1502</button></td>
          <td>
            <button class="scs-btn"><i class="fa-solid fa-check"></i></button>
            <button class="can-btn"><i class="fa-solid fa-xmark"></i></button>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td class="left-td"><button class="darkblue-button">Ride</button></td>
          <td> -</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">Main street, <br />New Delhi</td>
          <td> <button class="skyblue-button">Delhi</button></td>
          <td>SUV</td>
          <td><button class="green-button">₹1502</button></td>
          <td>
            <button class="scs-btn"><i class="fa-solid fa-check"></i></button>
            <button class="can-btn"><i class="fa-solid fa-xmark"></i></button>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td class="left-td"><button class="skyblue-button">Guide</button></td>
          <td> -</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">Main street, <br />New Delhi</td>
          <td>-</td>
          <td>SUV</td>
          <td><button class="green-button">₹1502</button></td>
          <td>
            <button class="scs-btn"><i class="fa-solid fa-check"></i></button>
            <button class="can-btn"><i class="fa-solid fa-xmark"></i></button>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td class="left-td"><button class="red-button">Rental</button></td>
          <td> - </td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">09 March 2019 <br />10:50 am</td>
          <td class="left-td">Main street, <br />New Delhi</td>
          <td>-</td>
          <td>SUV</td>
          <td><button class="green-button">₹1502</button></td>
          <td>
            <button class="scs-btn"><i class="fa-solid fa-check"></i></button>
            <button class="can-btn"><i class="fa-solid fa-xmark"></i></button>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
      </table>
    </div>
</div>
