.grid-table {
  table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;

    thead{
      tr{

          border: 1px solid #d7d7d7;
          border-radius: 15px;

        th{
          font-size: 16px;
          font-weight: 400;
          padding: 8px;
          color: #444444;
        }
      }
    }
    tbody{

      tr{
          text-align: center;
          background: #FFFFFF;
          border: 1px solid #d7d7d7;

        td{
          font-size: 16px;
          font-weight: 400;
          margin: 0;
          text-align: center;
          padding: 8px;
          color: #000000;
          img{
            width: 30px;
            height: 30px;
            border-radius: 100px;
          }
          i{
            margin:2px;
            font-size: 13px;
            color: #404b69;
          }

          .info-btn{
            border: none;
            background-color: white;
            i{
              color:#ff9114;
              margin: 0;
              padding: 0;
              font-size: 18px;
            }
          }
          .delete-btn{
            border: none;
            background-color: white;
            i{
              color:#ff3b14;
              margin: 0;
              padding: 0;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  }
  .red-button{
      background-color: #faecec;
      border: 1px solid #cf5757;
      border-radius: 4px;
      color: #c94141;
      padding: 4px 6px;
  }

  .orange-button{
    background-color: #ffefd8;
    border: 1px solid #f07e41;
    border-radius: 4px;
    color: #f07e41;
    padding: 4px 7px;
  }
  .blue-button{
    background-color: #e6ebf5;
    border: 1px solid #01369a;
    border-radius: 4px;
    color: #01369a;
    padding: 4px 6px;
  }
  .skyblue-button{
    background-color: #edf3fc;
    border: 1px solid #4b87dd;
    border-radius: 4px;
    color: #4b87dd;
    padding: 4px 6px;
  }
  .darkblue-button{
    background-color: #ecedf0;
    border: 1px solid #404b69;
    border-radius: 4px;
    color: #404b69;
    padding: 4px 6px;
  }
  .green-button{
    background-color: #eaffe2;
    border: 1px solid #73a95f;
    border-radius: 4px;
    color: #73a95f;
    padding: 4px 7px;
  }

