<form [formGroup]="locationForm" (ngSubmit)="submit()">
  <div class="topBar">
    <h1>Add New Location</h1>
    <button mat-icon-button><mat-icon>close</mat-icon></button>
  </div>
  <div class="mapContainer">
    <google-map height="400px"
            width="580px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
            <map-marker
              *ngIf="currentPosition"
              [options]="markerOptions"
              [position]="currentPosition"
              (mapDragend)="newPosition($event)"
          ></map-marker>
    </google-map>
  </div>
  <div>Latitude: {{display?.lat}}</div>
  <div>Longitude: {{display?.lng}}</div>
  <mat-form-field appearance="outline">
    <mat-label>Location Name</mat-label>
    <input type="text" formControlName="name" matInput >
  </mat-form-field>
  <div class="topBar">
    <h3>Spot exploration time for this location.</h3>
    <mat-form-field appearance="outline">
      <mat-label>Total Hours</mat-label>
      <input type="text" formControlName="hours" matInput >
    </mat-form-field>
  </div>
  <div class="actions">
    <button mat-stroked-button color="warn" type="button" (click)="cancel()">Cancel</button>
    <button mat-flat-button color="primary" [disabled]="!locationForm.valid" type="submit">Submit</button>
  </div>
</form>