.mat-tab-group {
  margin-bottom: 48px;
  .mat-tab{
    color:#404b69 ;
  }
}


.header{
  button{
    color: #404b69;
  }
}
// .container{
//   mat-tab{
//     width: 2000px;
//     overflow-x: scroll;
//   }
// }
