
<div class="header">
  <div class="w-100 d-flex justify-content-end my-3">
    <button class="mx-3" mat-stroked-button>
      <mat-icon>refresh</mat-icon>Refresh
    </button>
    <button class="mx-3" mat-stroked-button>
      <mat-icon>filter</mat-icon>Clear Filter
    </button>
    <button mat-stroked-button>
      Enter the date Range<mat-icon>date_range</mat-icon>
    </button>
  </div>
</div>
<div>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="All Booking"> <app-allbooking></app-allbooking></mat-tab>
    <mat-tab label="Ride-Rental"> <app-ride-rental></app-ride-rental></mat-tab>
    <mat-tab label="Outstations"> <app-outstations></app-outstations></mat-tab>
    <mat-tab label="Tour"> <app-tours></app-tours></mat-tab>
    <mat-tab label="Guide"> <app-guide></app-guide></mat-tab>
  </mat-tab-group>
</div>
