<div class="grid-container">
  <div class="grid-item">
    <div class="tablename">
      <P>Pending </P><button><p>40</p></button>
    </div>
    <div class="grid-table">
      <div
        class="grid-2 w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">Booking ID</div>
        <div class="Lato400 fs-15">Customer</div>
        <div class="Lato400 fs-15">Service</div>
        <div class="Lato400 fs-15">Start Location</div>
        <div class="Lato400 fs-15">Start Time</div>
        <div class="Lato400 fs-15">Trip Fair</div>
        <div class="Lato400 fs-15">Driver</div>
        <div class="Lato400 fs-15 ms-3">Actions</div>
      </div>
      <div
        class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">#ITC25</div>
        <div class="Lato400 fs-15">Ankit Vaja</div>
        <div class="Lato400 fs-15"><button>Rental</button></div>
        <div class="Lato400 fs-15"><button>Rampur</button></div>
        <div class="Lato400 fs-15">09 March 2019 <br />10:50 am</div>
        <div class="Lato400 fs-15"><button>$1000</button></div>
        <div class="Lato400 fs-15">Abhijeet</div>
        <div class="Lato400 fs-15 ms-3">
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
      <div
        class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">#ITC25</div>
        <div class="Lato400 fs-15">Ankit Vaja</div>
        <div class="Lato400 fs-15"><button>Rental</button></div>
        <div class="Lato400 fs-15"><button>Rampur</button></div>
        <div class="Lato400 fs-15">09 March 2019 <br />10:50 am</div>
        <div class="Lato400 fs-15"><button>$1000</button></div>
        <div class="Lato400 fs-15">Abhijeet</div>
        <div class="Lato400 fs-15 ms-3">
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
      <div
        class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">#ITC25</div>
        <div class="Lato400 fs-15">Ankit Vaja</div>
        <div class="Lato400 fs-15"><button>Rental</button></div>
        <div class="Lato400 fs-15"><button>Rampur</button></div>
        <div class="Lato400 fs-15">09 March 2019 <br />10:50 am</div>
        <div class="Lato400 fs-15"><button>$1000</button></div>
        <div class="Lato400 fs-15">Abhijeet</div>
        <div class="Lato400 fs-15 ms-3">
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="tablename">
      <P>Assigned </P><button><p>20</p></button>
    </div>
    <div class="grid-table">
      <div
        class="grid-2 w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">Booking ID</div>
        <div class="Lato400 fs-15">Customer</div>
        <div class="Lato400 fs-15">Service</div>
        <div class="Lato400 fs-15">Start Location</div>
        <div class="Lato400 fs-15">Start Time</div>
        <div class="Lato400 fs-15">Trip Fair</div>
        <div class="Lato400 fs-15">Driver</div>
        <div class="Lato400 fs-15 ms-3">Actions</div>
      </div>
      <div
        class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">#ITC25</div>
        <div class="Lato400 fs-15">Ankit Vaja</div>
        <div class="Lato400 fs-15"><button>Rental</button></div>
        <div class="Lato400 fs-15"><button>Rampur</button></div>
        <div class="Lato400 fs-15">09 March 2019 <br />10:50 am</div>
        <div class="Lato400 fs-15"><button>$1000</button></div>
        <div class="Lato400 fs-15">Abhijeet</div>
        <div class="Lato400 fs-15 ms-3">
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
      <div
        class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">#ITC25</div>
        <div class="Lato400 fs-15">Ankit Vaja</div>
        <div class="Lato400 fs-15"><button>Rental</button></div>
        <div class="Lato400 fs-15"><button>Rampur</button></div>
        <div class="Lato400 fs-15">09 March 2019 <br />10:50 am</div>
        <div class="Lato400 fs-15"><button>$1000</button></div>
        <div class="Lato400 fs-15">Abhijeet</div>
        <div class="Lato400 fs-15 ms-3">
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
      <div
        class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">#ITC25</div>
        <div class="Lato400 fs-15">Ankit Vaja</div>
        <div class="Lato400 fs-15"><button>Rental</button></div>
        <div class="Lato400 fs-15"><button>Rampur</button></div>
        <div class="Lato400 fs-15">09 March 2019 <br />10:50 am</div>
        <div class="Lato400 fs-15"><button>$1000</button></div>
        <div class="Lato400 fs-15">Abhijeet</div>
        <div class="Lato400 fs-15 ms-3">
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="tablename">
      <P>Completed</P><button><p>10</p></button>
    </div>
    <div class="grid-table">
      <div
        class="grid-2 w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">Booking ID</div>
        <div class="Lato400 fs-15">Customer</div>
        <div class="Lato400 fs-15">Service</div>
        <div class="Lato400 fs-15">Start Location</div>
        <div class="Lato400 fs-15">Start Time</div>
        <div class="Lato400 fs-15">Trip Fair</div>
        <div class="Lato400 fs-15">Driver</div>
        <div class="Lato400 fs-15 ms-3">Actions</div>
      </div>
      <div
        class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">#ITC25</div>
        <div class="Lato400 fs-15">Ankit Vaja</div>
        <div class="Lato400 fs-15"><button>Rental</button></div>
        <div class="Lato400 fs-15"><button>Rampur</button></div>
        <div class="Lato400 fs-15">09 March 2019 <br />10:50 am</div>
        <div class="Lato400 fs-15"><button>$1000</button></div>
        <div class="Lato400 fs-15">Abhijeet</div>
        <div class="Lato400 fs-15 ms-3">
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
      <div
        class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">#ITC25</div>
        <div class="Lato400 fs-15">Ankit Vaja</div>
        <div class="Lato400 fs-15"><button>Rental</button></div>
        <div class="Lato400 fs-15"><button>Rampur</button></div>
        <div class="Lato400 fs-15">09 March 2019 <br />10:50 am</div>
        <div class="Lato400 fs-15"><button>$1000</button></div>
        <div class="Lato400 fs-15">Abhijeet</div>
        <div class="Lato400 fs-15 ms-3">
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
      <div
        class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">#ITC25</div>
        <div class="Lato400 fs-15">Ankit Vaja</div>
        <div class="Lato400 fs-15"><button>Rental</button></div>
        <div class="Lato400 fs-15"><button>Rampur</button></div>
        <div class="Lato400 fs-15">09 March 2019 <br />10:50 am</div>
        <div class="Lato400 fs-15"><button>$1000</button></div>
        <div class="Lato400 fs-15">Abhijeet</div>
        <div class="Lato400 fs-15 ms-3">
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="tablename">
      <P>Cancelled </P><button><p>05</p></button>
    </div>
    <div class="grid-table">
      <div
        class="grid-2 w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">Booking ID</div>
        <div class="Lato400 fs-15">Customer</div>
        <div class="Lato400 fs-15">Service</div>
        <div class="Lato400 fs-15">Start Location</div>
        <div class="Lato400 fs-15">Start Time</div>
        <div class="Lato400 fs-15">Trip Fair</div>
        <div class="Lato400 fs-15">Driver</div>
        <div class="Lato400 fs-15 ms-3">Actions</div>
      </div>
      <div
        class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">#ITC25</div>
        <div class="Lato400 fs-15">Ankit Vaja</div>
        <div class="Lato400 fs-15"><button>Rental</button></div>
        <div class="Lato400 fs-15"><button>Rampur</button></div>
        <div class="Lato400 fs-15">09 March 2019 <br />10:50 am</div>
        <div class="Lato400 fs-15"><button>$1000</button></div>
        <div class="Lato400 fs-15">Abhijeet</div>
        <div class="Lato400 fs-15 ms-3">
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
      <div
        class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">#ITC25</div>
        <div class="Lato400 fs-15">Ankit Vaja</div>
        <div class="Lato400 fs-15"><button>Rental</button></div>
        <div class="Lato400 fs-15"><button>Rampur</button></div>
        <div class="Lato400 fs-15">09 March 2019 <br />10:50 am</div>
        <div class="Lato400 fs-15"><button>$1000</button></div>
        <div class="Lato400 fs-15">Abhijeet</div>
        <div class="Lato400 fs-15 ms-3">
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
      <div
        class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
      >
        <div class="Lato400 fs-15">#ITC25</div>
        <div class="Lato400 fs-15">Ankit Vaja</div>
        <div class="Lato400 fs-15"><button>Rental</button></div>
        <div class="Lato400 fs-15"><button>Rampur</button></div>
        <div class="Lato400 fs-15">09 March 2019 <br />10:50 am</div>
        <div class="Lato400 fs-15"><button>$1000</button></div>
        <div class="Lato400 fs-15">Abhijeet</div>
        <div class="Lato400 fs-15 ms-3">
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-item">
  <div class="tablename">
    <P>Assigned Driver </P><button><p>10</p></button>
  </div>
  <div class="grid-table">
    <div
      class="grid-2 w-100 justify-content-between align-items-center border head my-4"
    >
      <div class="Lato400 fs-15">Booking ID</div>
      <div class="Lato400 fs-15">Driver Name</div>
      <div class="Lato400 fs-15">Customer Name</div>
      <div class="Lato400 fs-15">Start Time</div>
      <div class="Lato400 fs-15">Start Location</div>
      <div class="Lato400 fs-15">Destination</div>
      <div class="Lato400 fs-15">Vehicle Number</div>
      <div class="Lato400 fs-15 ms-3">Trip Fair</div>
    </div>

    <div
      class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
    >
      <div class="Lato400 fs-15">#ITC25</div>
      <div class="Lato400 fs-15">Ravi Sharma</div>
      <div class="Lato400 fs-15">Ankit Vaja</div>
      <div class="Lato400 fs-15">09 March 2019, 10:50 am</div>
      <div class="Lato400 fs-15">Main Street <br />New Delhi</div>
      <div class="Lato400 fs-15">Main Street <br />New Delhi</div>
      <div class="Lato400 fs-15"><button>GJ12GB 1231</button></div>
      <div class="Lato400 fs-15"><button>₹ 1502</button></div>
    </div>
    <div
      class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
    >
      <div class="Lato400 fs-15">#ITC25</div>
      <div class="Lato400 fs-15">Ravi Sharma</div>
      <div class="Lato400 fs-15">Ankit Vaja</div>
      <div class="Lato400 fs-15">09 March 2019, 10:50 am</div>
      <div class="Lato400 fs-15">Main Street <br />New Delhi</div>
      <div class="Lato400 fs-15">Main Street <br />New Delhi</div>
      <div class="Lato400 fs-15"><button>GJ12GB 1231</button></div>
      <div class="Lato400 fs-15"><button>₹ 1502</button></div>
    </div>
    <div
      class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
    >
      <div class="Lato400 fs-15">#ITC25</div>
      <div class="Lato400 fs-15">Ravi Sharma</div>
      <div class="Lato400 fs-15">Ankit Vaja</div>
      <div class="Lato400 fs-15">09 March 2019, 10:50 am</div>
      <div class="Lato400 fs-15">Main Street <br />New Delhi</div>
      <div class="Lato400 fs-15">Main Street <br />New Delhi</div>
      <div class="Lato400 fs-15"><button>GJ12GB 1231</button></div>
      <div class="Lato400 fs-15"><button>₹ 1502</button></div>
    </div>
  </div>
</div>
<div class="grid-item">
  <div class="tablename">
    <P>Assigned Driver </P><button><p>10</p></button>
  </div>
  <div class="grid-table">
    <div
      class="grid-2 w-100 justify-content-between align-items-center border head my-4"
    >
      <div class="Lato400 fs-15">Booking ID</div>
      <div class="Lato400 fs-15">Destination</div>
      <div class="Lato400 fs-15">Driver</div>
      <div class="Lato400 fs-15">Customer</div>
      <div class="Lato400 fs-15">Vehicle Number</div>
      <div class="Lato400 fs-15">Start Location</div>
      <div class="Lato400 fs-15">Start Time</div>
      <div class="Lato400 fs-15 ms-3">Trip Fair</div>
    </div>

    <div
      class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
    >
      <div class="Lato400 fs-15">#ITC25</div>
      <div class="Lato400 fs-15"><button>Main Street, New Delhi</button></div>
      <div class="Lato400 fs-15">Ravi Sharma</div>
      <div class="Lato400 fs-15">Manish Reddy</div>
      <div class="Lato400 fs-15">GJ12GB 1231</div>
      <div class="Lato400 fs-15">Main Street <br />New Delhi</div>
      <div class="Lato400 fs-15">
        09 March 2019, <br />
        10:50 am
      </div>
      <div class="Lato400 fs-15"><button>₹ 1502</button></div>
    </div>
    <div
      class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
    >
      <div class="Lato400 fs-15">#ITC25</div>
      <div class="Lato400 fs-15"><button>Main Street, New Delhi</button></div>
      <div class="Lato400 fs-15">Ravi Sharma</div>
      <div class="Lato400 fs-15">Manish Reddy</div>
      <div class="Lato400 fs-15">GJ12GB 1231</div>
      <div class="Lato400 fs-15">Main Street <br />New Delhi</div>
      <div class="Lato400 fs-15">
        09 March 2019, <br />
        10:50 am
      </div>
      <div class="Lato400 fs-15"><button>₹ 1502</button></div>
    </div>
  </div>
</div>
<div class="grid-item">
  <div class="tablename">
    <P>Attendance of Drivers </P><button><p>40</p></button>
  </div>
  <div class="grid-table">
    <div
      class="grid-2 w-100 justify-content-between align-items-center border head my-4"
    >
      <div class="Lato400 fs-15">Driver Name</div>
      <div class="Lato400 fs-15">Phone Number</div>
      <div class="Lato400 fs-15">Email</div>
      <div class="Lato400 fs-15">Vehicle</div>
      <div class="Lato400 fs-15">Total Ride</div>
      <div class="Lato400 fs-15">Vehicle Number</div>
      <div class="Lato400 fs-15">Rating</div>
      <div class="Lato400 fs-15">Status</div>
    </div>

    <div
      class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
    >
      <div class="Lato400 fs-15">Viraj Patel</div>
      <div class="Lato400 fs-15">+91 8888888888</div>
      <div class="Lato400 fs-15">Example@gmail.com</div>
      <div class="Lato400 fs-15"><button>SUV</button></div>
      <div class="Lato400 fs-15">124</div>
      <div class="Lato400 fs-15">GJ12GB 1231</div>
      <div class="Lato400 fs-15"><button>4.2</button></div>
      <div class="Lato400 fs-15"><button>Mark as Present</button></div>

    </div>
    <div
    class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
  >
    <div class="Lato400 fs-15">Viraj Patel</div>
    <div class="Lato400 fs-15">+91 8888888888</div>
    <div class="Lato400 fs-15">Example@gmail.com</div>
    <div class="Lato400 fs-15"><button>SUV</button></div>
    <div class="Lato400 fs-15">124</div>
    <div class="Lato400 fs-15">GJ12GB 1231</div>
    <div class="Lato400 fs-15"><button>4.2</button></div>
    <div class="Lato400 fs-15"><button>Mark as Present</button></div>

  </div>
  <div
  class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
>
  <div class="Lato400 fs-15">Viraj Patel</div>
  <div class="Lato400 fs-15">+91 8888888888</div>
  <div class="Lato400 fs-15">Example@gmail.com</div>
  <div class="Lato400 fs-15"><button>SUV</button></div>
  <div class="Lato400 fs-15">124</div>
  <div class="Lato400 fs-15">GJ12GB 1231</div>
  <div class="Lato400 fs-15"><button>4.2</button></div>
  <div class="Lato400 fs-15"><button>Mark as Present</button></div>

</div>
<div
class="grid-item-cont w-100 justify-content-between align-items-center border head my-4"
>
<div class="Lato400 fs-15">Viraj Patel</div>
<div class="Lato400 fs-15">+91 8888888888</div>
<div class="Lato400 fs-15">Example@gmail.com</div>
<div class="Lato400 fs-15"><button>SUV</button></div>
<div class="Lato400 fs-15">124</div>
<div class="Lato400 fs-15">GJ12GB 1231</div>
<div class="Lato400 fs-15"><button>4.2</button></div>
<div class="Lato400 fs-15"><button>Mark as Present</button></div>

</div>
  </div>
</div>
