<div class="w-100 d-flex justify-content-between my-3">
  <div>
    <button mat-flat-button color="accent" (click)="addTransaction('debit')">
      <mat-icon>arrow_upward</mat-icon>Add Debit
    </button>
    <button mat-flat-button color="primary" (click)="addTransaction('credit')" class="ms-3">
      <mat-icon>arrow_downward</mat-icon>Add Credit
    </button>
  </div>
</div>


<mat-expansion-panel hideToggle *ngFor="let ledger of ledgers">
  <mat-expansion-panel-header>
    <div class="d-flex justify-content-between align-items-center w-100">
      <div class="fs-16 Lato600">{{formateDate(ledger.date)}}</div>
      <div>
        <button mat-stroked-button color="accent" class="w-set">
          <mat-icon>arrow_upward</mat-icon> Total Debit {{ledger.totalDebit}}
        </button>
        <button mat-stroked-button color="primary" class="w-set ms-3">
          <mat-icon>arrow_downward</mat-icon> Total Credit {{ledger.totalCredit}}
        </button>
      </div>
      
    </div>

  </mat-expansion-panel-header>
  <div class="d-flex justify-content-between w-100">
    <div class="w-100">
      <div class="Lato600 fs-18 my-4">Credit</div>
      <table class="w-100" *ngIf="ledger.creditLedger.length">

        <thead class=" ">
          <tr class="grid-2 w-100 justify-content-start align-items-center text-start py-2 px-2">
            <th>Txn. Id</th>
            <th>Time</th>
            <th>To</th>
            <th>Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="grid-3 w-100 justify-content-between align-items-center px-2"
            *ngFor="let booking of ledger.creditLedger">
            <td class="text-uppercase">{{booking.transactionId | slice:0:6}}</td>
            <td>{{booking.time.toDate() | date}} </td>
            <td>{{booking.to}}</td>
            <td>{{booking.narration}}</td>
            <td>{{booking.amount}}</td>
            <td>
              <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>

      </table>
      <div class="Lato500 fs-15 " *ngIf="!ledger.creditLedger.length">
        Not Credit Found
      </div>
    </div>
    <div class="w-100">
      <div class="Lato600 fs-18 my-4">Debit</div>
      <table class="w-100 " *ngIf="ledger.debitLedger.length">
        <thead class=" ">
          <tr class="grid-2 w-100 justify-content-start align-items-center text-start py-2 px-2">
            <th>Txn. Id</th>
            <th>Time</th>
            <th>To</th>
            <th>Amount</th>
            <th>Reason</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="grid-3 w-100 justify-content-between align-items-center px-2"
            *ngFor="let booking of ledger.debitLedger">
            <td class="text-uppercase">{{booking.transactionId | slice:0:6}}</td>
            <td>{{booking.time.toDate() | date}} </td>
            <td>{{booking.to}}</td>

            <td>{{booking.amount}}</td>
            <td>{{booking.narration}}</td>
            <td>
              <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>

      </table>
      <div class="Lato500 fs-15 " *ngIf="!ledger.debitLedger.length">
        Not Debit Found
      </div>
    </div>
  </div>


</mat-expansion-panel>