.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.w-set{
  width: 100%;
  min-width: 200px;
  max-width: 200px;
}

.grid-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 1fr 1fr 1fr;
  background: #FFFFFF;
  border: 1px solid #d7d4d4;
  border-radius: 5px;
}

.grid-3 {
  width: 100%;
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 1fr 1fr 1fr;
  background: #FFFFFF;
  border-top: 1px solid #d7d4d4;
  border-left: 1px solid #d7d4d4;
  border-right: 1px solid #d7d4d4;
  padding: 6px 0;
  border-radius: 5px;

}

.grid-3:first-child {
  margin-top: 10px;
}

.grid-3:last-child {
  border-bottom: 1px solid #d7d4d4;
}