<div class="cab-container">
  <div class="heading"><p>Locations Management</p></div>
  <div class="search-addnew">
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search Area To Add" />
    </div>
    <button class="btn">
      <div>   <i class="fa-solid fa-plus"></i></div>
      <div (click)="addAreas()"><p> Add New Location</p></div>
    </button>
  </div>
  <div class="card-parent">
    <div class="grid-container">
      <div class="grid-item" *ngFor="let area of areas">
        <div class="ctns" *ngIf="area.mode == 'cab'">
          <h4>{{ area.title }}</h4>
          <h5>{{ area.nearBy }}</h5>
        </div>
        <div class="btns">
          <!-- <div id="edit" (click)="editArea(area)"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div> -->
          <div><mat-slide-toggle ></mat-slide-toggle></div>
          <div id="trash" (click)="deleteArea(area.id || '')"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
     
    </div>
  </div>
</div>
<div class="vehicle-container">
  <div class="vehicle-header">
    <div class="heading"><p>Vehicle Management</p></div>
   <button (click)="addVehicleCategory()" class="btn"><i class="fa-solid fa-plus"></i>Add New Category</button>
  </div>
  <div class="vehicle-parent">
    <ng-container *ngFor="let vehicle of vehicles">
      <div class="vehicle-card"  *ngIf="vehicle.mode == 'cab'">
        <div class="vehicle-img"><img [src]="vehicle.bannerImage" alt=""></div>
        <div class="vehicle-cont">
          <div class="vc-one">
            <h4>{{ vehicle?.vehicleCategory }}</h4><h5>₹ 1502/h</h5>
          </div>
          <div class="vc-two"><h5>{{ vehicle?.description }}</h5></div>
          <div class="vc-three">

              <div (click)="editVehicle()" class="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
              <div><mat-slide-toggle ></mat-slide-toggle></div>
              <div class="trash"><i class="fa-solid fa-trash-can"></i></div>

          </div>
        </div>
      </div>
    </ng-container>
      
      
  </div>
</div>
<div class="vehicle-container">
  <div class="vehicle-header">
    <div class="heading"><p>Vehicle Package</p></div>
  </div>
  <div class="vehicle-parent">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="SUV">
        <div class="suv-div"><button (click)="addPackage()" class="btn"><i class="fa-solid fa-plus"></i>Add Package</button></div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <div class="trash"><mat-slide-toggle   ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <div class="trash"><mat-slide-toggle   ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </mat-tab>
      <mat-tab label="Sedan">
        <div class="suv-div"><button class="btn"><i class="fa-solid fa-plus"></i>Add Package</button></div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <div class="trash"><mat-slide-toggle   ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <div class="trash"><mat-slide-toggle   ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </mat-tab>
      <mat-tab label="Traveller">
        <div class="suv-div"><button class="btn"><i class="fa-solid fa-plus"></i>Add Package</button></div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <div class="trash"><mat-slide-toggle   ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <div class="trash"><mat-slide-toggle   ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </mat-tab>
      <mat-tab label="Hatchback">
        <div class="suv-div"><button class="btn"><i class="fa-solid fa-plus"></i>Add Package</button></div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <div class="trash"><mat-slide-toggle   ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <div class="trash"><mat-slide-toggle   ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="vehicle-container">
  <div class="vehicle-header">
    <div class="heading"><p>Commission</p></div>
  </div>
  <div class="vehicle-parent">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="SUV">
        <div class="suv-div"><button (click)="addCommission()" class="btn"><i class="fa-solid fa-plus"></i>Add Commission</button></div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <button>Percentage</button>
          <div class="trash"><mat-slide-toggle ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <button>Percentage</button>
          <div class="trash"><mat-slide-toggle></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <button>Percentage</button>
          <div class="trash"><mat-slide-toggle ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </mat-tab>
      <mat-tab label="Sedan">
        <div class="suv-div"><button class="btn"><i class="fa-solid fa-plus"></i>Add Commission</button></div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <button>Percentage</button>
          <div class="trash"><mat-slide-toggle></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <button>Percentage</button>
          <div class="trash"><mat-slide-toggle></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <button>Percentage</button>
          <div class="trash"><mat-slide-toggle ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </mat-tab>
      <mat-tab label="Traveller">
        <div class="suv-div"><button class="btn"><i class="fa-solid fa-plus"></i>Add Commission</button></div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <button>Percentage</button>
          <div class="trash"><mat-slide-toggle ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <button>Percentage</button>
          <div class="trash"><mat-slide-toggle></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <button>Percentage</button>
          <div class="trash"><mat-slide-toggle ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </mat-tab>
      <mat-tab label="Hatchback">
        <div class="suv-div"><button class="btn"><i class="fa-solid fa-plus"></i>Add Commission</button></div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <button>Percentage</button>
          <div class="trash"><mat-slide-toggle ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <button>Percentage</button>
          <div class="trash"><mat-slide-toggle ></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
        <div class="suv-div">
          <button>Min hr.</button>
          <button>Max hr.</button>
          <button>₹ /hr.</button>
          <button>Percentage</button>
          <div class="trash"><mat-slide-toggle></mat-slide-toggle></div>
          <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
