<div class="cab-container">
  <div class="heading"><p>Locations Management</p></div>
  <div class="search-addnew">
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search Area To Add" />
    </div>
    <button class="btn">
      <div>   <i class="fa-solid fa-plus"></i></div>
      <div>     <p> Add New Location</p></div>
    </button>
  </div>
  <div class="card-parent">
    <div class="grid-container">
      <div class="grid-item">
        <div class="ctns">
          <h4>3/203 AVAS VIKAS</h4>
          <h5>ALLAHABAD Allahabad UP 211019 IN</h5>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <h4>3/203 AVAS VIKAS</h4>
          <h5>ALLAHABAD Allahabad UP 211019 IN</h5>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <h4>3/203 AVAS VIKAS</h4>
          <h5>ALLAHABAD Allahabad UP 211019 IN</h5>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <h4>3/203 AVAS VIKAS</h4>
          <h5>ALLAHABAD Allahabad UP 211019 IN</h5>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <h4>3/203 AVAS VIKAS</h4>
          <h5>ALLAHABAD Allahabad UP 211019 IN</h5>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <h4>3/203 AVAS VIKAS</h4>
          <h5>ALLAHABAD Allahabad UP 211019 IN</h5>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
