<div class="table-div">
    <div class="table-div-data">
        <table class="table-center-div">
            <tr class="head-row">
                <th scope="col">Driver</th>
                <th scope="col">Phone</th>
                <th scope="col">Last booking</th>
                <th scope="col">No of bookings</th>
                <th scope="col">Ratings</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Action</th>
            </tr>

            <tr>
                <td class="table_data">Arun Arora</td>
                <td class="table_data">
                    <div class="d-flex aling-items-center justify-content-center">
                        <i class="ri-phone-fill phone"></i><span class="ms-1">9566332544</span>
                    </div>
                </td>
                <td class="table_data">
                    <div class="yellow-div">
                        <p>Rental</p>
                    </div>
                </td>
                <td class="table_data">15 </td>
                <td class="table_data">4.5/5(101)</td>
                <td class="table_data">
                    <div class="green-div">
                        <p>12,999</p>
                    </div>
                </td>
                <td class="table_data d-flex justify-content-center">
                    <div><mat-slide-toggle></mat-slide-toggle></div>
                    <div class="yellow-error-div">
                        <i class="ri-error-warning-line"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table_data">Arun Arora</td>
                <td class="table_data">
                    <div class="d-flex aling-items-center justify-content-center">
                        <i class="ri-phone-fill phone"></i><span class="ms-1">9566332544</span>
                    </div>
                </td>
                <td class="table_data">
                    <div class="yellow-div">
                        <p>Rental</p>
                    </div>
                </td>
                <td class="table_data">15 </td>
                <td class="table_data">4.5/5(101)</td>
                <td class="table_data">
                    <div class="green-div">
                        <p>12,999</p>
                    </div>
                </td>
                <td class="table_data d-flex justify-content-center">
                    <div><mat-slide-toggle></mat-slide-toggle></div>
                    <div class="yellow-error-div">
                        <i class="ri-error-warning-line"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table_data">Arun Arora</td>
                <td class="table_data">
                    <div class="d-flex aling-items-center justify-content-center">
                        <i class="ri-phone-fill phone"></i><span class="ms-1">9566332544</span>
                    </div>
                </td>
                <td class="table_data">
                    <div class="yellow-div">
                        <p>Rental</p>
                    </div>
                </td>
                <td class="table_data">15 </td>
                <td class="table_data">4.5/5(101)</td>
                <td class="table_data">
                    <div class="green-div">
                        <p>12,999</p>
                    </div>
                </td>
                <td class="table_data d-flex justify-content-center">
                    <div><mat-slide-toggle></mat-slide-toggle></div>
                    <div class="yellow-error-div">
                        <i class="ri-error-warning-line"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table_data">Arun Arora</td>
                <td class="table_data">
                    <div class="d-flex aling-items-center justify-content-center">
                        <i class="ri-phone-fill phone"></i><span class="ms-1">9566332544</span>
                    </div>
                </td>
                <td class="table_data">
                    <div class="yellow-div">
                        <p>Rental</p>
                    </div>
                </td>
                <td class="table_data">15 </td>
                <td class="table_data">4.5/5(101)</td>
                <td class="table_data">
                    <div class="green-div">
                        <p>12,999</p>
                    </div>
                </td>
                <td class="table_data d-flex justify-content-center">
                    <div><mat-slide-toggle></mat-slide-toggle></div>
                    <div class="yellow-error-div">
                        <i class="ri-error-warning-line"></i>
                    </div>
                </td>
            </tr>
           
        </table>
    </div>

</div>