<div class="cab-container">
  <div class="heading"><p>Tour Management</p></div>
  <div class="search-addnew">
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search Area To Add" />
    </div>
    <div class="addbtn">
      <button routerLink="addtour">
        <i class="fa-solid fa-plus"></i><p>   Add New Tour </p>
       </button>
    </div>
  </div>
  <div class="card-parent">
    <div class="grid-container">
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="ctns">
          <div class="ctns-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjN_NUsWoXCHBF4ktXFnsFjGYMdpDeyD_1qIp1CR2&s" alt=""></div>
          <div class="ctns-ctns">
            <h3>Jaipur to Delhi Taxi</h3>
            <p>₹ 20,000<p>
          </div>
        </div>
        <div class="btns">
          <div id="edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></div>
          <div><mat-slide-toggle   ></mat-slide-toggle></div>
          <div id="trash"><i class="fa-solid fa-trash-can"></i></div>
        </div>

    </div>
  </div>
</div>
</div>
<div class="vehicle-container">
  <div class="vehicle-header">
    <div class="heading"><p>Commission</p></div>
  </div>
  <div class="vehicle-parent">
        <!-- <div class="suv-div"><button (click)="addNewCommission()" class="btn"><i class="fa-solid fa-plus"></i>Add New</button></div> -->
        <div class="suv-div" >
          <button>Min Price</button>
          <button>Max Price</button>
          <button>Enter %</button>
          <button>Percentage</button>
        </div>
        <div class="suv-div" *ngFor="let item of list">
          <button>Min Price</button>
          <button>Max Price</button>
          <button>Enter %</button>
          <button>Percentage</button>
          <div class="trash"><mat-slide-toggle   ></mat-slide-toggle></div>
          <!-- <div (click)="onDelete()"  class="trash"><i class="fa-solid fa-trash-can"></i></div> -->
        </div>
        <div class="suv-div">
          <button>Min Price</button>
          <button>Max Price</button>
          <button>Enter Amount</button>
          <button>Fix</button>
          <div class="trash"><mat-slide-toggle   ></mat-slide-toggle></div>
          <!-- <div (click)="onDelete()" class="trash"><i class="fa-solid fa-trash-can"></i></div> -->
        </div>
  </div>
</div>
