<div class="cab-container">
  <div class="heading"><p>Tour Management</p></div>
  <div class="search-addnew">
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search Area To Add" />
    </div>
    <div class="addbtn">
      <button routerLink="addtour">
        <i class="fa-solid fa-plus"></i><p>   Add New Tour </p>
       </button>
    </div>
  </div>
  <div class="card-parent">
    <div class="grid-container">
      <div class="grid-item" *ngFor="let tour of tours">
        <div class="ctns">
          <div class="ctns-img"><img [src]="tour.images[0]" alt=""></div>
          <div class="ctns-ctns">
            <h3>{{tour.tourName}}</h3>
            <p>{{tour.tourPrice | currency:'INR'}}<p>
          </div>
        </div>
        <div class="btns">
          <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
          <div><mat-slide-toggle [checked]="tour.enabled"></mat-slide-toggle></div>
          <!-- <div id="trash"><i class="fa-solid fa-trash-can"></i></div> -->
          <button mat-icon-button color="warn" (click)="deleteTour(tour)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
  </div>
</div>
</div>
<div class="vehicle-container">
  <div class="vehicle-header">
    <div class="heading"><p>Commission</p></div>
  </div>
  <div class="tabActions">
    <button (click)="addVehicleCommissionPackage()" mat-stroked-button color="primary">
      <mat-icon>add</mat-icon>
      Add Commission
    </button>
    <button *ngIf="saveCommission" (click)="saveCommissionPackages()" mat-stroked-button color="primary">
      <mat-icon>save</mat-icon>
      Save Commissions
    </button>
  </div>
  <ng-container  *ngFor="let item of commissions; let i = index;">
    <div class="pricingPackages">
      <!-- <button>Min hr.</button> -->
      <mat-form-field appearance="outline">
        <mat-label>Min Hr.</mat-label>
        <input matInput type="number" [(ngModel)]="item.minimumHours" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Max Hr.</mat-label>
        <input matInput type="number" [(ngModel)]="item.maximumHour" />
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="item.type == 'percentage'">
        <mat-label>Enter %</mat-label>
        <input matInput type="number" [(ngModel)]="item.value" />
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="item.type == 'fixed'">
        <mat-label>Enter Amount</mat-label>
        <input matInput type="number" [(ngModel)]="item.value" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select placeholder="Select Type" [(ngModel)]="item.type" name="mode">
          <mat-option value="percentage">
            Percentage
          </mat-option>
          <mat-option value="fixed">
            Fixed
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle [checked]="item.enabled" color="primary"></mat-slide-toggle>
      <button mat-icon-button (click)="deleteCommissionPackage(i)" color="warn"><mat-icon>delete</mat-icon></button>
    </div>
  </ng-container>
</div>
