<div class="dialog-container">
  <div class="heading">
    <h2>Add New Blog</h2>
    <div mat-dialog-close><i class="ri-close-circle-line"></i></div>
  </div>
 <div class="image-category">
  <h3><i class="ri-image-line"></i> Upload Blog Image</h3>
 </div>
 <div class="vehicle-category">
  <h3>Post Title</h3>
 </div>
 <div class="discription">
  <h3>Discription</h3>
 </div>
 <div class="vehicle-category">
  <h3>Written By</h3>
 </div>
 <div class="Schedule-post">
 <h3>  <i class="ri-calendar-2-line"></i>  Schedule Post</h3>
 </div>
  <div class="btns">
    <button class="outline-btn-red">Cancel</button>
    <button class="solid-darkblue-button">Add Vehicle</button>
  </div>
</div>
