<div class="dialog-container">
  <div class="heading">
    <h2>Edit Vehicle Category</h2>
    <div mat-dialog-close><i class="ri-close-circle-line"></i></div>
  </div>
 <div class="image-category">
  <h3><i class="ri-image-line"></i> Upload Category Image</h3>
 </div>
 <div class="vehicle-category">
  <h3>Vehicle Category</h3>
 </div>
 <div class="discription">
  <h3>Discription</h3>
 </div>
 <div class="btn-divs">
    <div> <h3>Seat </h3><div class="numbers"><h3>8</h3></div> </div>
    <div> <h3>Luggage Space </h3> <div class="numbers"><h3>13 Ltr</h3></div> </div>
    <div> <h3>AC/Non AC </h3> <div class="numbers"><h3>AC</h3></div> </div>
 </div>
 <div class="price">
  <div class="price-btn"><h3>Full Price</h3></div>
  <div class="price-btn"><h3>Price Per hour</h3></div>
 </div>
  <div class="btns">
    <button class="outline-btn-red">Cancel</button>
    <button class="solid-darkblue-button">Add Vehicle</button>
  </div>
</div>
