/* You can add global styles to this file, and also import other style files */

@import url('./assets/scss/Fonts.scss');
@import url('./assets/scss/Responsive.scss');
@import url('./assets/scss/Text.scss');

.example::-webkit-scrollbar {
  display: none;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-dialog-container {
  border-radius: 20px !important;
}
