<div class="dialog-container">
  <div class="heading">
    <h2>Edit Banner</h2>
    <div mat-dialog-close><i class="ri-close-circle-line"></i></div>
  </div>
 <div class="image-category">
  <h3><i class="ri-image-line"></i> Upload Banner Image</h3>
 </div>
 <div class="vehicle-category">
  <h3>Title</h3>
 </div>

 <div class="vehicle-category">
  <h3>Url</h3>
 </div>
 <div class="Schedule-post">
 <h3>Enter a Date Range  <i class="ri-calendar-2-line"></i>  </h3>
 </div>
  <div class="btns">
    <button class="outline-btn-red">Cancel</button>
    <button class="solid-darkblue-button">Add Vehicle</button>
  </div>
</div>
