<div class="grid-container">
  <div class="grid-item">
    <div class="tablename">
      <P>Pending </P><button><p>40</p></button>
    </div>
    <div class="grid-table">
      <table>
        <tr>
          <th>Booking ID</th>
          <th>Customer</th>
          <th>Service</th>
          <th>Start Location</th>
          <th>Start Time</th>
          <th>Trip Fair</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td ><button class="red-button">Rental</button></td>
          <td> <button class="orange-button">Rampur</button></td>
          <td>09 Jan 23 <br />10:50 am</td>
          <td><button class="green-button">₹1502</button></td>
          <td>
            <button class="scs-btn"><i class="fa-solid fa-check"></i></button>
            <button class="can-btn"><i class="fa-solid fa-xmark"></i></button>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td ><button class="red-button">Rental</button></td>
          <td> <button class="orange-button">Rampur</button></td>
          <td>09 Jan 23 <br />10:50 am</td>
          <td><button class="green-button">₹1502</button></td>
          <td>
            <button class="scs-btn"><i class="fa-solid fa-check"></i></button>
            <button class="can-btn"><i class="fa-solid fa-xmark"></i></button>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td ><button class="darkblue-button">Ride</button></td>
          <td> <button class="skyblue-button">Delhi</button></td>
          <td>09 Jan 23 <br />10:50 am</td>
          <td><button class="green-button">₹1502</button></td>
          <td>
            <button class="scs-btn"><i class="fa-solid fa-check"></i></button>
            <button class="can-btn"><i class="fa-solid fa-xmark"></i></button>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="grid-item">
    <div class="tablename">
      <P>Assigned </P><button><p>20</p></button>
    </div>
    <div class="grid-table">
      <table>
        <tr>
          <th>Booking ID</th>
          <th>Customer</th>
          <th>Service</th>
          <th>Start Location</th>
          <th>Start Time</th>
          <th>Trip Fair</th>
          <th>Driver</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td ><button class="red-button">Rental</button></td>
          <td> <button class="orange-button">Rampur</button></td>
          <td>09 Jan 23 <br />10:50 am</td>
          <td><button class="green-button">₹1502</button></td>
          <td>Abhijeet</td>
          <td>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td ><button class="red-button">Rental</button></td>
          <td> <button class="orange-button">Rampur</button></td>
          <td>09 Jan 23 <br />10:50 am</td>
          <td><button class="green-button">₹1502</button></td>
          <td>Abhijeet</td>
          <td>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td ><button class="darkblue-button">Ride</button></td>
          <td> <button class="skyblue-button">Delhi</button></td>
          <td>09 Jan 23 <br />10:50 am</td>
          <td><button class="green-button">₹1502</button></td>
          <td>Abhijeet</td>
          <td>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="grid-item">
    <div class="tablename">
      <P>Completed</P><button><p>10</p></button>
    </div>
    <div class="grid-table">
      <table>
        <tr>
          <th>Booking ID</th>
          <th>Customer</th>
          <th>Service</th>
          <th>Start Location</th>
          <th>Start Time</th>
          <th>Trip Fair</th>
          <th>Driver</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td ><button class="red-button">Rental</button></td>
          <td> <button class="orange-button">Rampur</button></td>
          <td>09 Jan 23 <br />10:50 am</td>
          <td><button class="green-button">₹1502</button></td>
          <td>Abhijeet</td>
          <td>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td ><button class="red-button">Rental</button></td>
          <td> <button class="orange-button">Rampur</button></td>
          <td>09 Jan 23 <br />10:50 am</td>
          <td><button class="green-button">₹1502</button></td>
          <td>Abhijeet</td>
          <td>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td ><button class="darkblue-button">Ride</button></td>
          <td> <button class="skyblue-button">Delhi</button></td>
          <td>09 Jan 23 <br />10:50 am</td>
          <td><button class="green-button">₹1502</button></td>
          <td>Abhijeet</td>
          <td>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="grid-item">
    <div class="tablename">
      <P>Cancelled </P><button><p>05</p></button>
    </div>
    <div class="grid-table">
      <table>
        <tr>
          <th>Booking ID</th>
          <th>Customer</th>
          <th>Service</th>
          <th>Start Location</th>
          <th>Start Time</th>
          <th>Trip Fair</th>
          <th>Driver</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td ><button class="red-button">Rental</button></td>
          <td> <button class="orange-button">Rampur</button></td>
          <td>09 Jan 23 <br />10:50 am</td>
          <td><button class="green-button">₹1502</button></td>
          <td>Abhijeet</td>
          <td>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td ><button class="red-button">Rental</button></td>
          <td> <button class="orange-button">Rampur</button></td>
          <td>09 Jan 23 <br />10:50 am</td>
          <td><button class="green-button">₹1502</button></td>
          <td>Abhijeet</td>
          <td>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
        <tr>
          <td>#ITC25</td>
          <td><i class="fa-solid fa-phone"></i> Ankit Vaja</td>
          <td ><button class="darkblue-button">Ride</button></td>
          <td> <button class="skyblue-button">Delhi</button></td>
          <td>09 Jan 23 <br />10:50 am</td>
          <td><button class="green-button">₹1502</button></td>
          <td>Abhijeet</td>
          <td>
            <button class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="grid-item">
  <div class="tablename">
    <P>Tour wise Booking </P><button><p>10</p></button>
  </div>
  <div class="grid-container-two">
    <div class="grid-item">1</div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>

  </div>
</div>
