<!-- <div class="dialog-container">
    <div class="heading">
      <h2>Add New Spot</h2>
      <div mat-dialog-close><i class="ri-close-circle-line"></i></div>
    </div>
   <div class="image-category">
    <h3><i class="ri-image-line"></i> Upload Blog Image</h3>
   </div>
   <div class="vehicle-category">
    <h3>Post Title</h3>
   </div>
   <input type="text" placeholder="Post Name" class="vehicle-category w">
   <div class="discription">
    <h3>Discription</h3>
   </div>
   <div class="vehicle-category">
    <h3>Written By</h3>
   </div>
   <div class="Schedule-post">
   <h3>  <i class="ri-calendar-2-line"></i>  Schedule Post</h3>
   </div>
    <div class="btns">
      <button class="outline-btn-red">Cancel</button>
      <button class="solid-darkblue-button">Add Vehicle</button>
    </div>
  </div>
   -->
<form [formGroup]="spotForm" (ngSubmit)="submit()">
  <div class="title full">
    <h2>Add New Spot</h2>
    <button (click)="cancel()" type="button" mat-icon-button><mat-icon>close</mat-icon></button>
  </div>
  <input type="file" multiple (change)="imagesSelected($event)" hidden #filePicker>
  <div class="images full" (click)="filePicker.click()">
    <span *ngIf="images.length == 0">
      <mat-icon>image</mat-icon>Upload Spot Image
    </span>
    <img [src]="item.url" *ngFor="let item of images">
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Spot Name</mat-label>
    <input type="text" formControlName="name" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Location</mat-label>
    <mat-select placeholder="Select Location" formControlName="location" name="location">
      <mat-option *ngFor="let location of locations" [value]="location">
        {{location.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Address</mat-label>
    <textarea type="text" formControlName="address" matInput></textarea>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Select Category</mat-label>
    <mat-select placeholder="Select Location" formControlName="category" name="location">
      <mat-option value="Eat">
        Eat
      </mat-option>
      <mat-option value="Shop">
        Shop
      </mat-option>
      <mat-option value="Explore">
        Explore
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full">
    <mat-label>Description</mat-label>
    <textarea formControlName="description" type="text" matInput></textarea>
  </mat-form-field>
  <div class="actions full">
    <button mat-stroked-button type="button" (click)="cancel()" color="warn">Cancel</button>
    <button mat-flat-button type="submit" color="primary">Submit</button>
  </div>
</form>