<div class="blog-header">
  <h2>Blog Management</h2>
  <button (click)="addBlog()"  class="btn"><i class="fa-solid fa-plus"></i>Add New Blog</button>
</div>
<div class="grid-container">
  <div class="grid-item">
    <div class="card-container">
      <img src="https://images.unsplash.com/photo-1432405972618-c60b0225b8f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0ZXJmYWxsfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
      <h3>8 Waterfall in Jaipur to visit</h3>
      <p>This is the first time I had traveled with Rajputana cabs at Sputara. The organization specializes in adventure camps.</p>
      <div class="card-footer">
          <p>10 Minutes Ago</p>
          <div class="card-footer-btns">
            <div (click)="editBlog()" ><i class="fa-sharp fa-solid fa-pen-to-square edit"></i></div>
            <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
            <div (click)="onDelete()" ><i class="fa-solid fa-trash-can trash"></i></div>
          </div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card-container">
      <img src="https://images.unsplash.com/photo-1432405972618-c60b0225b8f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0ZXJmYWxsfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
      <h3>8 Waterfall in Jaipur to visit</h3>
      <p>This is the first time I had traveled with Rajputana cabs at Sputara. The organization specializes in adventure camps.</p>
      <div class="card-footer">
          <p>10 Minutes Ago</p>
          <div class="card-footer-btns">
            <div (click)="editBlog()" ><i class="fa-sharp fa-solid fa-pen-to-square edit"></i></div>
            <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
            <div (click)="onDelete()" ><i class="fa-solid fa-trash-can trash"></i></div>
          </div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card-container">
      <img src="https://images.unsplash.com/photo-1432405972618-c60b0225b8f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0ZXJmYWxsfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
      <h3>8 Waterfall in Jaipur to visit</h3>
      <p>This is the first time I had traveled with Rajputana cabs at Sputara. The organization specializes in adventure camps.</p>
      <div class="card-footer">
          <p>10 Minutes Ago</p>
          <div class="card-footer-btns">
            <div (click)="editBlog()" ><i class="fa-sharp fa-solid fa-pen-to-square edit"></i></div>
            <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
            <div (click)="onDelete()" ><i class="fa-solid fa-trash-can trash"></i></div>
          </div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card-container">
      <img src="https://images.unsplash.com/photo-1432405972618-c60b0225b8f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0ZXJmYWxsfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
      <h3>8 Waterfall in Jaipur to visit</h3>
      <p>This is the first time I had traveled with Rajputana cabs at Sputara. The organization specializes in adventure camps.</p>
      <div class="card-footer">
          <p>10 Minutes Ago</p>
          <div class="card-footer-btns">
            <div (click)="editBlog()" ><i class="fa-sharp fa-solid fa-pen-to-square edit"></i></div>
            <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
            <div (click)="onDelete()" ><i class="fa-solid fa-trash-can trash"></i></div>
          </div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card-container">
      <img src="https://images.unsplash.com/photo-1432405972618-c60b0225b8f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0ZXJmYWxsfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
      <h3>8 Waterfall in Jaipur to visit</h3>
      <p>This is the first time I had traveled with Rajputana cabs at Sputara. The organization specializes in adventure camps.</p>
      <div class="card-footer">
          <p>10 Minutes Ago</p>
          <div class="card-footer-btns">
            <div (click)="editBlog()" ><i class="fa-sharp fa-solid fa-pen-to-square edit"></i></div>
            <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
            <div (click)="onDelete()" ><i class="fa-solid fa-trash-can trash"></i></div>
          </div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card-container">
      <img src="https://images.unsplash.com/photo-1432405972618-c60b0225b8f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0ZXJmYWxsfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
      <h3>8 Waterfall in Jaipur to visit</h3>
      <p>This is the first time I had traveled with Rajputana cabs at Sputara. The organization specializes in adventure camps.</p>
      <div class="card-footer">
          <p>10 Minutes Ago</p>
          <div class="card-footer-btns">
            <div (click)="editBlog()" ><i class="fa-sharp fa-solid fa-pen-to-square edit"></i></div>
            <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
            <div (click)="onDelete()" ><i class="fa-solid fa-trash-can trash"></i></div>
          </div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card-container">
      <img src="https://images.unsplash.com/photo-1432405972618-c60b0225b8f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0ZXJmYWxsfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
      <h3>8 Waterfall in Jaipur to visit</h3>
      <p>This is the first time I had traveled with Rajputana cabs at Sputara. The organization specializes in adventure camps.</p>
      <div class="card-footer">
          <p>10 Minutes Ago</p>
          <div class="card-footer-btns">
            <div (click)="editBlog()" ><i class="fa-sharp fa-solid fa-pen-to-square edit"></i></div>
            <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
            <div (click)="onDelete()" ><i class="fa-solid fa-trash-can trash"></i></div>
          </div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card-container">
      <img src="https://images.unsplash.com/photo-1432405972618-c60b0225b8f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0ZXJmYWxsfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
      <h3>8 Waterfall in Jaipur to visit</h3>
      <p>This is the first time I had traveled with Rajputana cabs at Sputara. The organization specializes in adventure camps.</p>
      <div class="card-footer">
          <p>10 Minutes Ago</p>
          <div class="card-footer-btns">
            <div (click)="editBlog()" ><i class="fa-sharp fa-solid fa-pen-to-square edit"></i></div>
            <div><mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle></div>
            <div (click)="onDelete()" ><i class="fa-solid fa-trash-can trash"></i></div>
          </div>
      </div>
    </div>
  </div>

</div>
<mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
</mat-paginator>

