.blog-header{
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  margin-top: 20px;
  h2{
    margin: 0;
    font-size: medium;
  }
  button{
    background-color: #fff;
    color: #404b69;
    border: 1px solid #404b69;
    border-radius: 4px;
  }
  .btn i{
    padding: 0 5px;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 25%  25% 25% 25%;
  // background-color: #2196F3;
  padding: 10px;
  padding-top: 0;
}

