<div class="dialog-container">
  <div class="heading">
    <h2>Re-Assign Driver</h2>
    <div mat-dialog-close><i class="ri-close-circle-line"></i></div>
  </div>
  <p>Booking Id: #ITC4520</p>
  <div class="search-bar">
    <input type="text" placeholder="Search...">
    <i class="ri-search-line icon"></i>
  </div>

  <div class="heading">
    <h2>Assign Guide</h2>
  </div>
  <p>Booking Id: #ITC4520</p>
  <div class="search-bar">
    <input type="text" placeholder="Search...">
    <i class="ri-search-line icon"></i>
  </div>
  <div class="btns">
    <button class="outline-btn-red">Cancel</button>
    <button class="solid-darkblue-button">Assign</button>
  </div>
</div>
